.Item-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .Item-card {
        display: block;
        width: 80%;
        margin-bottom: 20px;
        margin-top: 20px;

    }
}